CoAP-specific security schemes

Part of the current WG charter is the [reorganization of security schemes](https://w3c.github.io/wot-charter-drafts/wot-wg-2023-details.html) so that the core specification will only contain generic security schemes, while protocol-specific security schemes are moved to the individual binding template documents. With this issue, I wanted to start discussing this process for CoAP, where at least one security scheme could be taken over from TD 1.1, while most other security schemes are currently missing and/or need to be formally specified.

In the following, I've created an initial list for collecting potential security schemes that can be discussed and expanded as we go along. Note that for some of these, a differentiation between the different CoAP URI schemes and the underlying transport protocols (e.g., UDP/DTLS vs. TCP/TLS) might be necessary. Some entries have once been included in drafts of the TD specification itself, before they got removed due to lack of implementations.

## `PSKSecurityScheme`

Can be [taken over](https://www.w3.org/TR/wot-thing-description11/#psksecurityscheme) directly from the core TD specification. Applicable to both DTLS and TLS (and therefore also WebSockets).

## `CertSecurityScheme`

This security scheme refers to DTLS/TLS in PKI mode that was [previously defined](https://github.com/w3c/wot-thing-description/pull/198/files) in TD Editor's Drafts but got removed eventually. If we integrate this security scheme in the binding template document, we could consider renaming it to `PkiSecurityScheme` (or `PKISecurityScheme`) instead to be consistent with the security scheme for PSK.

## `PublicSecurityScheme`

This security scheme refers to DTLS/TLS with raw public keys. It was also previously part of TD Editor's Draft but got removed in the end. If we choose to resurrect this one, we could rename it to `RpkSecurityScheme`.

## `PoPSecurityScheme`

This security scheme for authentication via Proof of Possession tokens was also once part of TD Editor's Drafts. I am not sure, though, whether we should bring this one back on its own – this might be a question of whether we have use cases that motivate the use of this security scheme.

## `OscoreSecurityScheme`

There is currently no way to specify that a WoT consumer should interact with a Thing using OSCORE (Object Security for Constrained RESTful Environments, [RFC 8613](https://datatracker.ietf.org/doc/html/rfc8613)), so adding an `OscoreSecurityScheme` would be a great addition to the specification. Here, we need to figure out which fields we need to include and whether a description of the key exchange mechanism should be part of this security scheme or of separate companion security schemes (e.g., an `EdhocSecurityScheme`).

## `EdhocSecurityScheme`

One of the companion security schemes for OSCORE could be for EDHOC (Ephemeral Diffie-Hellman Over COSE, [RFC 9528](https://datatracker.ietf.org/doc/rfc9528/)), which has been created primarily as a key exchange mechanism for OSCORE but can, for example, also be used as part of a lightweight authorization framework for “enrolling” devices (see [draft-ietf-lake-authz](https://datatracker.ietf.org/doc/draft-ietf-lake-authz/)). I guess via a `ComboSecurityScheme` we could combine this security scheme with the one for OSCORE to indicate that it should be used as the key exchange mechanism, but this probably requires some discussion (I think the possible combinations of security schemes have not really been covered so far in general).

## `AceSecurityScheme`

A security scheme for the ACE-OAuth ([RFC 9200](https://datatracker.ietf.org/doc/rfc9200/)) framework has already been an [informal part](https://www.w3.org/TR/wot-thing-description11/#adding-security-schemes) of the TD specification, but it would be great if it becomes a formally specified security scheme in the CoAP binding templates. As a lot of information call already discovered by the client from the resource server as part of the protocol flow (via the [AS Request Creation Hints](https://datatracker.ietf.org/doc/html/rfc9200#name-as-request-creation-hints)), the main benefit here is probably the association of scopes with affordances and maybe information regarding the profiles a resource server supports. However, as the TD can contain some of the information already, the resource server might be able to omit some of that information from its response, which could potentially have a security benefit. In any case, this security scheme probably needs some discussion, as there is also a certain degree of diversity involved via the different ACE-OAuth *profiles* (e.g., the [DTLS profile](https://datatracker.ietf.org/doc/html/rfc9202), the [OSCORE profile](https://datatracker.ietf.org/doc/html/rfc9203/), and the [OSCORE-EDHOC profile](https://datatracker.ietf.org/doc/html/draft-ietf-ace-edhoc-oscore-profile/)).


----

This concludes my initial list of security schemes for CoAP :) Feel free to comment if you want to discuss something or if something should be adjusted. I myself will gradually update the list to also include initial vocabulary terms and examples that we can further discuss.